.sign-in {
    width: 100vw;
    height: calc(100vw - 200px);
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center
}

.sign-in-action {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}